@use '../styles/variables' as var;

@mixin gradienttext {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textoutline {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

@mixin removeTextOutline {
    color: whitesmoke;
    -webkit-text-stroke: 1px whitesmoke;
    text-shadow: none;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: whitesmoke;
}

@mixin boxshadow {
    box-shadow: inset 0px 5px 10px #8080801d;
}

@mixin border {
    border: 1px solid #8080800d;
}

@mixin btn {
    background-color: #26263b30;
    border: 1px solid #8080800d;

    &:hover {
        background-color: #F5F5F7;
        color: black;
    }
}