@mixin gradienttext {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textoutline {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

@mixin removeTextOutline {
    color: whitesmoke;
    -webkit-text-stroke: 1px whitesmoke;
    text-shadow: none;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: whitesmoke;
}