@use '../styles/variables' as var;
@use '../styles/mixins';

.about-container {
    background-color: var.$color-background-primary;
    padding: 30px 0;
    height: fit-content;
}

.title {
    padding: 0px 20px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px auto;
    max-width: 1200px;
    width: 95%;

    @media(min-width:350px) and (max-width:430px) {
        margin: 30px auto;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        gap: 30px;
    }

    @media (min-width: 1025px) and (max-width: 1435px) {
        gap: 50px;
    }
}

.me {
    max-width: 400px;

    @media (max-width: 767px) {
        width: 95%;
        margin: 0 auto;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
    }

    .status {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 8px;
        border-radius: 2rem;
        background-color: var.$color-background-secondary;
        @include mixins.border;

        @media (min-width:768px) and (max-width:850px) {
            gap: 5px;
        }

        &__image {
            width: 90px;
            height: 90px;
            border-radius: 10rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;
            font-size: 1.2rem;
            font-weight: 600;

            p {
                span {
                    font-weight: 600;
                    padding: 2px 10px;
                    border-radius: 1rem;
                    color: white;
                    border: 2px solid #00bb4e;
                }
            }
        }
    }

    .myvalue {
        margin-top: 10px;
        padding: 20px 20px 10px;
        border-radius: 2rem;
        background-color: var.$color-background-secondary;
        @include mixins.border;
        color: #CCCCCC;

        h3 {
            color: white;
            font-size: 1.9rem;
            text-align: center;
            padding-bottom: 10px;

            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }

        hr {
            border: 1px solid var.$color-border;
            margin-bottom: 10px;
        }

        ul {
            font-size: 1.2rem;
            line-height: 1.4;
            text-align: justify;
            padding: 0 20px 10px;
        }
    }
}

.experience {
    margin-top: -6px;
    max-width: 700px;

    @media (max-width: 767px) {
        width: 95%;
        margin: 0 auto;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 60%;
    }

    .work {
        width: 100%;
        margin-bottom: 10px;

        &__title {
            font-size: 2rem;
            padding-bottom: 10px;
            color: white;
            /* background: linear-gradient(to right, white 0%, grey 30%);
            @include mixins.gradienttext; */

            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }

        hr {
            border: 1px solid var.$color-border;
            margin-bottom: 10px;
        }

        &__job-wrapper {
            margin-top: 10px;
            padding: 20px;
            border-radius: 2rem;
            background-color: var.$color-background-secondary;
            @include mixins.border;



            .role {
                display: flex;
                justify-content: space-between;

                span {
                    h3 {
                        font-size: 1.5rem;
                        padding-bottom: 5px;
                        color: white;
                    }
                }
            }



            p {
                font-size: 1.2rem;
                color: #CCCCCC;
            }
        }

        .time {
            font-size: 1.2rem;
            color: #CCCCCC;
        }

        .honor ul {
            color: #CCCCCC;

            p {
                font-size: 1.2rem;
                color: white;
                padding-top: 20px;
                padding-bottom: 5px;
            }

            li {
                font-size: 1.2rem;
                line-height: 1.5;
                margin: 0 20px;
            }
        }
    }

    .edu {
        &__title {
            padding-bottom: 10px;
            font-size: 2rem;
            color: white;

            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }

        hr {
            border: 1px solid var.$color-border;
            margin-bottom: 10px;
        }

        &__details {
            padding: 20px;
            border-radius: 2rem;
            background-color: var.$color-background-secondary;
            @include mixins.border;

            .deg {
                font-size: 1.5rem;
                padding-bottom: 5px;
                color: white;
            }

            p {
                text-align: justify;
                font-size: 1.2rem;
                color: #CCCCCC;
            }

            ul {
                text-align: justify;
                font-size: 1.2rem;
                color: #CCCCCC;

                p {

                    font-size: 1.2rem;
                    color: white;
                    padding-top: 20px;
                    padding-bottom: 5px;
                }

                li {
                    line-height: 1.5;
                    margin: 0 20px;
                }
            }
        }
    }
}

.highlight {
    color: royalblue;
}