@use '../styles/variables' as var;
@use '../styles/mixins';

.cert-section {
    display: grid;
    justify-content: center;
    gap: 15px;
    width: 95%;
    margin: 50px auto;

    @media (min-width: 350px) {
        grid-template-columns: repeat(1, minmax(300px, 380px));
        margin: 30px auto;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(300px, 380px));
        margin: 50px auto;
    }

    @media (min-width: 1024px) {
        max-width: 1000px;
        grid-template-columns: repeat(2, minmax(340px, 400px));
    }

    @media (min-width: 1440px) {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
}

.cert-container {
    height: 380px;
    background-color: var.$color-background-secondary;
    @include mixins.border;
    border-radius: 35px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;

    &:hover {
        @include mixins.boxshadow;
        cursor: pointer;

        @media (min-width:768px) {
            .cert-title {
                text-decoration: underline;
            }
        }

        .cert-thumbnail {
            transform: scale(1.05);
        }
    }

    .thumbnail {
        width: 100%;
        height: 220px;
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;

        .cert-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
    }


    .cert-title {
        a {
            color: white;
        }

        font-size: 1.4rem;
        margin-top: 10px;
        font-weight: bold;
        padding: 0 5px;
    }

    .cert-issuer {
        padding: 0 5px;
        font-size: 1rem;
        color: #cccccc;
    }

    .cert-links {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        padding: 0 5px;

        .cert-link-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 1rem;
            font-weight: 600;
            padding: 8px 15px;
            border-radius: 2rem;
            color: white;
            @include mixins.btn;
            transition: all 0.5s ease;
        }
    }
}