@use '../styles/variables' as var;
@use '../styles/mixins';

.contact-wrapper {
    max-width: 1200px;
    height: auto;
    margin: 50px auto;
    border-radius: 2rem;
    padding: 50px;
    background-color: var.$color-background-secondary;
    border: 1px solid var.$color-border;
    display: flex;
    gap: 50px;
}

.social-links {
    width: 100%;
    height: fit-content;

    .reachout-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;

        h3 {
            font-size: 2.5rem;
            background: linear-gradient(to right, #852BF5 0%, #cf13bf 10%, #d911a9 15%, #ef377f 25%);
            @include mixins.gradienttext;
        }

        p {
            font-size: 1.2rem;
            color: white;
        }
    }

    .social-wrapper {
        h3 {
            font-size: 2.5rem;
            padding-bottom: 10px;
            background: linear-gradient(to right, #852BF5 0%, #cf13bf 10%, #d911a9 15%, #ef377f 20%);
            @include mixins.gradienttext;
        }

        .social-links {
            display: flex;
            gap: 15px;

            a {
                color: white;
                font-size: 2rem;

                &:hover {
                    color: grey;
                }
            }
        }
    }


}

.message {
    width: 100%;

    h3 {
        color: white;
        font-size: 2.5rem;
        padding-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 1.1rem;
            color: white;
        }

        input[type="text"],
        textarea {
            background-color: var.$color-background-secondary;
            border: 1px solid var.$color-border;
            color: white;
            padding: 10px 15px;
            font-size: 1rem;
            border-radius: 10px;
            outline: none;
            width: 100%;

            &:focus {
                border: 1px solid var.$color-btn-background;
            }
        }

        textarea {
            resize: vertical;
            min-height: 120px;
        }

        input[type="submit"] {
            margin-top: 20px;
            width: fit-content;
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: 500;
            background-color: var.$color-btn-background;
            color: white;
            border: 1px solid var.$color-border;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
}