.dropdown-menu {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 200px;
    padding: 15px;
    border-radius: 2rem;
    z-index: 999;
    background-color: #0f0f1388;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff1a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        color: white;
        padding: 10px 15px;
        border-radius: 1rem;
        text-decoration: none;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}