@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 200px;
    padding: 15px;
    border-radius: 2rem;
    font-weight: 600;
    z-index: 999;
    background-color: #0f0f1388;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff1a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: slideFadeIn 0.3s ease-out;

    @media (max-width:426px) {
        right: 10px;
    }

    a {
        color: white;
        padding: 10px 15px;
        border-radius: 1rem;
        text-decoration: none;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}