@use '../styles/variables' as var;
@use '../styles/mixins';

.footer-container {
    background-color: var.$color-background-secondary ;

    .footer-wrapper {
        color: white;
        border-top: 1px solid var.$color-border;
        padding: 8px 0px;
        text-align: center;
        font-size: 1rem;
    }
}

.profile-link {
    color: white;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.footer-break {
    display: block;

    @media(min-width: 490px) {
        display: none;
    }

}