@use '../styles/variables' as var;
@use '../styles/mixins';

.footer-container {
    background-color: var.$color-background-primary ;

    .footer-wrapper {
       color: #cccccc;
        border-top: 1px solid var.$color-border;
        padding: 10px 0px;
        text-align: center;
        font-size: 1rem;
    }
}

.profile-link {
   color: #cccccc;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.footer-break{
    display: block;

    @media(min-width: 490px){
        display: none;
    }

}