@use '../styles/variables' as var;
@use '../styles/mixins';

.header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 7px 9px 7px 20px;
    border-radius: 50px;
    background-color: rgba(15, 15, 19, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-size: 1.2rem;
    @include mixins.boxshadow;
    @include mixins.border;
    z-index: 111;
    width: auto;

    @media (min-width: 350px) and (max-width: 768px) {
        width: 95%;
        padding: 7px 20px;
    }

    .logo {
        width: 70px;
        margin-top: 7px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        gap: 10px;

        @media (min-width: 350px) and (max-width: 768px) {
            a {
                display: none;
            }
        }

        a {
            color: white;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 20px;
            padding: 10px 15px;
            border: 1px solid transparent;
            transition: all 0.5s ease;

            &:hover {
                @include mixins.btn
            }

            &:last-child {
                background-color: #F5F5F7;
                color: black;
            }
        }
    }

    .sandmenu {
        display: block;
        @include mixins.flex-center;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2rem;

        @media (min-width: 769px) {
            display: none;
        }
    }

}