@use '../styles/variables' as var;
@use '../styles/mixins';


.header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 7px 9px;
    border-radius: 50px;
    background-color: #0f0f137b;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    border: 1px solid var.$color-border;
    z-index: 111;

    .logo {
        width: 70px;
        position: relative;

        a {
            position: absolute;
            top: -13px;
            left: 10px;
        }

    }

    .navbar {
        display: flex;
        justify-content: center;
        gap: 10px;

        a {
            color: white;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 20px;
            padding: 10px 15px 10px;
            border: 1px solid transparent;
            transition: all 0.5s ease;

            &:hover {
                color: black;
                background-color: white;
                box-shadow: 0px 0px 5px grey;
            }

            &:last-child {
                font-weight: 500;
                background-color: white;
                color: black;

                &:hover {
                    color: black;
                    box-shadow: 0px 0px 10px grey;
                    background-color: white;
                }
            }
        }

    }


}