@use '../styles/variables' as var;
@use '../styles/mixins';

@supports (background: conic-gradient(from var(--angle))) {
    @property --angle {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

    @keyframes rotate-gradient {
        0% {
            --angle: 0deg;
        }

        100% {
            --angle: 360deg;
        }
    }
}

.hero-section {
    padding: 100px 0;
    background-color: var.$color-background-primary;

    @media (min-width: 350px) and (max-width: 426px) {
        padding: 80px 0px 30px;
    }
}

.hero-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    @include mixins.flex-center;
    flex-direction: column;
}

.update-tab {
    margin-top: 10px;

    .btn-wrapper {
        padding: 2px;
        border-radius: 1rem;
        background-image: conic-gradient(from var(--angle), white, grey, white);
        animation: rotate-gradient 0.5s linear infinite;
    }

    .gradient-button {
        color: white;
        background-color: var.$color-background-secondary;
        font-style: italic;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 15px;
        border: none;

        @media (min-width: 350px) and (max-width: 426px) {
            font-size: 0.7rem;
        }
    }
}

.greetings {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /*  h3 {
        font-family: "Rubik", sans-serif;
        @include mixins.textoutline;
        font-size: 3rem;
        font-weight: bold;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5px;
    } */

    h3 {
        font-family: "Rubik", sans-serif;
        @include mixins.textoutline;
        font-size: 3rem;
        font-weight: bold;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5px;

        @media (max-width: 769px) {
            margin-bottom: 10px;
            @include mixins.removeTextOutline;
        }
    }

    h1 {
        font-size: 4.5rem;
        font-weight: bold;
        background: linear-gradient(to right, #852BF5 0%, #cf13bf 44%, #d911a9 64%, #ef377f 100%);
        @include mixins.gradienttext;
    }

    h2 {
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }

    @media (max-width: 480px) {
        margin-top: 30px;

        h3 {
            font-size: 2rem;
            height: 3rem;
        }

        h1 {
            font-size: 3.3rem;
            text-align: center;
             margin-bottom: 10px;
        }

        h2 {
            font-size: 1.8rem;
            text-align: center;
        }
    }

    @media (min-width: 481px) and (max-width: 1024px) {
        margin-top: 30px;

        h3 {
            font-size: 2.5rem;
        }

        h1 {
            font-size: 3.5rem;
            text-align: center;
        }

        h2 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

.about {
    color: #ffffff8f;
    font-size: 1rem;
    margin-top: 30px;
    line-height: 1.5;
    text-align: center;

    @media (min-width: 350px) and (max-width: 570px) {
        text-align: justify;
        font-size: 0.75rem;
    }
}

.hero-links {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    grid-auto-flow: column;
    gap: 15px;

    @media (min-width: 350px) and (max-width: 767px) {
        grid-template-columns: 280px;
        grid-auto-flow: row;
    }

    button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var.$color-background-secondary;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 15px 35px;
        border-radius: 1rem;
        border: 1px solid var.$color-border;
        transition: all 0.3s ease;

        @media (min-width: 350px) and (max-width: 767px) {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 15px;
        }

        &:hover {
            color: black;
            background-color: white;
        }
    }
}


.fade-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}