@use '../styles/variables' as var;
@use '../styles/mixins';


@supports (background: conic-gradient(from var(--angle))) {
    @property --angle {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

    .hero-section {
        min-height: 100vh;
        padding: 100px 0px;
        background-color: var.$color-background-primary;

        .hero-wrapper {
            margin: 0 auto;
            max-width: 1050px;
            width: 90%;
            @include mixins.flex-center;
            flex-direction: column;

            .update-tab {
                margin-top: 10px;

                .btn-wrapper {
                    padding: 2px;
                    border-radius: 1rem;
                    background-image: conic-gradient(from var(--angle), white, grey, white);
                    animation: rotate-gradient .5s linear infinite;
                }

                @keyframes rotate-gradient {
                    0% {
                        --angle: 0deg;
                    }

                    100% {
                        --angle: 360deg;
                    }
                }

                .gradient-button {
                    color: white;
                    background-color: var.$color-background-secondary;
                    font-style: italic;
                    font-size: .9rem;
                    font-weight: 500;
                    padding: 5px 15px;
                    border-radius: 15px;
                    border: none;
                }
            }
        }

        .greetings {
            margin-top: 50px;
            @include mixins.flex-center;
            flex-direction: column;
            gap: 10px;

            h3 {
                @include mixins.textoutline;
                font-size: 3.0rem;
                font-weight: bold;
            }

            h1 {
                font-size: 4.5rem;
                font-weight: bold;
                background: linear-gradient(to right, #852BF5 0%, #cf13bf 44%, #d911a9 64%, #ef377f 100%);
                @include mixins.gradienttext;
            }

            h2 {
                color: white;
                font-size: 3rem;
                font-weight: 500;
            }
        }

        .about {
            color: grey;
            font-size: 1rem;
            margin-top: 50px;
            line-height: 1.5;
            text-align: center;
        }

        .hero-links {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, minmax(220px, 1fr));
            grid-auto-flow: column;
            gap: 15px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                background-color: var.$color-background-secondary;
                color: white;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 15px 35px;
                border-radius: 1rem;
                border: 1px solid var.$color-border;
                transition: all 0.3s ease;

                &:hover {
                    color: black;
                    background-color: white;
                    box-shadow: 0px 0px 8px grey;
                }
            }
        }
    }
}