@use '../styles/variables' as var;
@use '../styles/mixins';

//400px x 230px

.pro-section {
    display: grid;
    justify-content: center;
    max-width: 1200px;
    width: 95%;
    margin: 50px auto;
    gap: 15px;

    @media (min-width: 350px) {
        grid-template-columns: repeat(1, minmax(300px, 380px));
        margin: 30px auto;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(300px, 380px));
        margin: 50px auto;
    }

    @media (min-width: 1024px) {
        max-width: 1000px;
        grid-template-columns: repeat(2, minmax(340px, 400px));

    }

    @media (min-width: 1440px) {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

}


.pro-container {
    padding: 10px;
    border-radius: 35px 35px 30px 30px;
    color: white;
    background-color: #0F0F13;
    border: 1px solid #8080801d;
    position: relative;

    &:hover {
        cursor: pointer;

        .pro-title {
            background: linear-gradient(to right, #852BF5 0%, #cf13bf 15%, #d911a9 40%, #ef377f 55%);
            @include mixins.gradienttext;
        }
    }

    .thumbnail {
        width: 100%;
        height: 220px;
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .video-preview {
        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 1rem;
        display: flex;
        place-content: center;
        padding: 8px;
        border-radius: 20px;
        border: 1px solid #80808000;
        backdrop-filter: blur(30px);
        color: white;
        background-color: #1e1e2c58;
        z-index: 1;

        &:hover {
            background-color: #1e1e2c;
        }
    }

    .pro-tech-stack {
        display: grid;
        gap: 4px;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
        margin-top: 10px;
        padding: 5px;
        border: 1px dotted #8080801e;
        border-radius: 15px;
        background-color: #26263b30;

        .pro-tech-container {
            text-align: center;
            padding: 3px 7px;
            border-radius: 15px;
            font-size: .9rem;
            font-weight: 500;
            color: white;
            background-color: #1e1e2c86;
            border: 1px solid #8080801d;
        }
    }

    .pro-title {
        font-size: 1.7rem;
        margin-top: 10px;
        padding: 0px 5px;
    }

    .pro-about {
        height: 200px;
        margin-top: 10px;
        padding: 0px 5px;
        margin-bottom: -5px;
        color: #ffffff8f;
        text-align: justify;
        line-height: 1.5;

        @media(max-width: 756px) {
            height: fit-content;
        }
    }

    .pro-links {
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        margin-top: 10px;
        gap: 5px;
    }

    .pro-link-btn {
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2rem;
        border: 1px solid #8080801d;
        color: white;
        background-color: #1e1e2c86;
        transition: all 0.3s ease;
        padding: 10px 15px;

        &:hover {
            &:first-child {
                color: white;
                background-color: royalblue;
            }

            background-color: white;
            color: black;

        }
    }
}