@use '../styles/variables' as var;
@use '../styles/mixins';

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease-in-out;

    @media (max-width:425px) {
        bottom: 20px;
        right: 10px;
    }

    &:hover {
        transform: scale(1.1);
    }

    svg {
        width: 20px;
        height: 20px;
    }

}