@use '../styles/variables' as var;

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 19, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    border: none;
    box-shadow: inset 0px 3px 10px #80808066;

    @media (max-width:425px) {
        bottom: 20px;
        right: 20px;
    }

    &:hover {
        transform: scale(1.1);
        color: black;
        background-color: white;
    }

    svg {
        width: 20px;
        height: 20px;
    }

}