@use '../styles/variables' as var;
@use '../styles/mixins';

.section {
    background-color: var.$color-background-primary;
    padding: 30px 0px;
}

.title {
    padding-bottom: 2rem;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, .7fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
}

.skill-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #26263b30;
    border: 1px solid #8080801d;
    padding: 15px 15px;
    border-radius: 1rem;
}