.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .7fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.skill-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #26263b30;
    border: 1px solid #8080801d;
    padding: 15px 15px;
    border-radius: 7px;
}