@use './styles/variables' as var;
@use './styles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /*  font-family: "Inter", sans-serif; */
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
}



button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.section {
  background-color: var.$color-background-primary;
  padding: 30px 0px;
}

.title {
  padding-bottom: 2rem;
  color: white;
  text-align: center;
  font-size: 3rem;
}

@media(min-width:350px) and (max-width:430px) {
  .title {
    padding-bottom: .5rem;
    font-size: 2.5rem;
  }

  .section {
    padding: 10px 0px;
  }

}

.scroll-offset {
  scroll-margin-top: 70px;
}