@use './styles/variables' as var;
@use './styles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}



.section {
  background-color: var.$color-background-primary;
  padding: 30px 0px;
}

.title {
  padding-bottom: 2rem;
  color: white;
  text-align: center;
  font-size: 3rem;
}