* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {

  /*  background-color: #F5F5F7; */

  background-color: #0a0a0a; // Equivalent to bg-neutral-950
  /*  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,
      #7877c64d,
      #ffffff00); */
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.app-container {
  position: relative;
}

.header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 7px 9px;
  border-radius: 50px;
  background-color: #1E1E2C;
  font-size: 1.2rem;
  border: 1px solid #8080803d;

  .logo {
    a {
      color: white;
    }

    border-radius: 20px;
    padding: 9px 15px;
    font-weight: bold;
    font-size: 1rem;

  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 80px;

    a {
      color: white;
      font-size: 1rem;
      border-radius: 20px;
      padding: 10px 15px 9px;
      border: 1px solid transparent;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        color: black;
        background-color: white;
        box-shadow: 0px 0px 8px grey;
      }
    }

  }

  .navlinks {
    display: flex;
    gap: 5px;

    button {
      border: 1px solid white;
      font-size: .9rem;
      border-radius: 20px;
      padding: 10px 15px 9px;
      font-weight: 600;
      background-color: white;
      transition: box-shadow 0.3s ease;

      a {
        color: black;
      }

      &:hover {
        box-shadow: 0px 0px 8px grey;
      }

    }
  }
}

.hero-greetings {
  background-color: #0a0a0a; // Equivalent to bg-neutral-950
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0));
  height: 100vh;
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .greetings {
    text-align: center;
    line-height: 1.4;

    h3 {
      font-size: 2.7rem;
      color: transparent;
      -webkit-text-stroke: 1px white;
    }

    h1 {
      font-size: 5rem;
      background-image: linear-gradient(to bottom right, rgb(147, 147, 255), rgb(169, 218, 218));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 3rem;
      color: white;

    }

  }

  .small-about {
    width: 850px;
    font-size: 0.9rem;
    margin: 20px 0px 50px;
    text-align: center;
    line-height: 1.4;

    p {
      color: grey;
    }
  }

  .hero-links {
    display: flex;
    gap: 20px;
    justify-content: center;

    button {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 50px 11px;
      border-radius: 7px;
      border: 1px solid #8080803d;
      color: white;
      background-color: transparent;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

      &:hover {
        box-shadow: 0px 0px 8px grey;
        background-color: white;
        transform: scale(1.05);
        color: black;
      }

      i {
        padding-right: 5px;
      }
    }
  }
}

.projects-section {
  height: 100vh;
  border: 1px solid red;
  background-color: #0a0a0a;
  margin: 1% 10%;
  .title{
    font-size: 3.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #9393ff, #a9dada);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}